*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Roboto", sans-serif;
}

.header{
    width: 100%;
    color: white;
}

.logoimage{
    margin: 15%;
 }

nav{
    display: flex;
    padding-right: 1%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 110px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #12813a;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.button{
    color: white;
    background-color:#12813a;
    text-decoration: none;
    padding: 6px 20px 6px 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.button:hover{
    color: white;
    background-color: #0e622c;
}

.dropdown_content {
    position: absolute;
    background-color: white; 
    z-index: 10;
    display: none;
    text-align: center;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.3);
}

.dropdown_content a {
    color: #000000;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #12813a; 
    color: white;
}

.dropdown_button:hover .dropdown_content {
    display: block;
}


.homepage_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 100vh; 
    object-fit: cover;
    z-index: -1;
}

.showcase{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.title_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
}

.title_text h2 {
    font-size: 500%;
    font-weight: 700;
    padding-bottom: 2%;
    color: white;
    padding-top: 30%;
    padding-bottom: 30%;
}

.information{
    display: flex;
    align-items: stretch;
    margin-bottom: 3%;
}

.image{
    width: 50%;
    padding-left: 1%;
    margin-top: 3%;
    display: flex; 
}

.aboutusimage{
    width: 100%;
    height: auto;
    max-height: 100%; 
    object-fit: cover; 
}

.text{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
}

.text h2{
    font-size: 39px;
    font-weight: 800;
    color: #12813a;
    padding-bottom: 20px;
    text-align: left;
}

.text p{
    font-size: 20px;
    padding-bottom: 10px;
}

.environment_club{
    float: left;
    width: 18%;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 4%;
    text-align: center;
}

.environment_club h3{
    color:#0e622c;
    font-weight: 600;
    font-size: 187.5%;
    text-align: center;
}

.environment_club p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5%;
}

.button_footer_logo{
    color: white;
    font-size: 125%;
    background-color:#12813a;
    text-decoration: none;
    padding: 6px 20px 6px 20px;
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;
}

.button_footer_logo:hover{
    color: white;
    background-color: #0e622c;
}
.footerlogo{
    width: 150px;
    text-align: center;
}

.Whatwedo_footer{
    padding-top: 30px;
    float: left;
    width: 25%;
    padding-left: 50px;
}

.Whatwedo_footer h3{
    font-size: 187.5%;
    font-weight: 600;
    color:#0e622c;
    padding-bottom: 20px;
}

.whatwedo_footer_links {
    font-size: 125%;
    color: black;
    text-decoration: none;
}

.events_footer{
    padding-top: 30px;
    float: left;
    width: 25%;
    padding-left: 70px;
}

.events_footer h3{
    font-size: 187.5%;
    font-weight: 600;
    color:#0e622c;
    padding-bottom: 20px;
}
.events_footer_links {
    font-size: 125%;
    color: black;
    text-decoration: none;
}
.contact_footer{
    float: left;
    width: 25%;
    padding-left: 80px;
    padding-top: 30px;
}

.contact_footer h3{
    font-size: 187.5%;
    font-weight: 600;
    color:#0e622c;
    padding-bottom: 20px;
}

.contact_footer p{
    font-size: 125%;
}

.madeby{
    font-size: 156.25%;
    font-weight: 600;
    color:#0e622c;
}

.footer{
    background-color: #f2f1ea;
    height: 465px;
    float: left;
    clear: both;
    width: 100%;
}

