*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Roboto", sans-serif;
}

.header{
   
    width: 100%;
    color: white;
}

.logoimage{
   margin: 15%;
}
nav{
    display: flex;
    padding-right: 1%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 110px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #12813a;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.button{
    color: white;
    background-color:#12813a;
    text-decoration: none;
    padding: 6px 20px 6px 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.button:hover{
    color: white;
    background-color: #0e622c;
}

.title_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
}

.title_text h2 {
    font-size: 500%;
    font-weight: 700;
    padding-bottom: 2%;
    color: white;
}

.title_text h3 {
    font-size: 500%; 
    font-weight: 700;
    color: #a8e7bf;
}
.homepage_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 100vh; 
    object-fit: cover;
    filter: brightness(80%);
    z-index: -1;
}

.showcase{
    position: relative;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.button_showcase{
    color: white;
    font-size: 40px;
    background-color:#12813a;
    text-decoration: none;
    padding: 6px 20px 6px 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.button_showcase:hover{
    color: white;
    background-color: #0e622c;

}

.dropdown_content {
    position: absolute;
    background-color: white; 
    z-index: 10;
    display: none;
    text-align: center;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.3);
}

.dropdown_content a {
    color: #000000;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #12813a; 
    color: white;
}

.dropdown_button:hover .dropdown_content {
    display: block;
}

.aboutus {
    display: flex;
    align-items: stretch; 
}

.image {
    width: 50%;
    padding-left: 1%;
    margin-top: 3%;
    display: flex; 
}

.image img {
    width: 100%;
    height: auto;
    max-height: 100%; 
    object-fit: cover; 
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
}

.content h2 {
    font-size: clamp(1.5rem, 3vw + 1rem, 2.5rem); 
    font-weight: 800;
    color: #12813a;
    margin-bottom: 3%;
}

.content p {
    font-size: clamp(1rem, 2.5vw + 0.5rem, 1.6rem); 
    margin: 0; 
    flex-grow: 1;
    display: flex; 
    align-items: center;
}

.button_aboutus {
    color: white;
    font-size: clamp(1rem, 1.5vw + 0.5rem, 1.4rem); 
    background-color: #12813a;
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 20px;
    transition: 0.5s;
    align-self: flex-start;
    margin-top: 2%; 
}


.button_aboutus:hover{
    color: white;
    background-color: #0e622c;
}

.whatwedo_section {
    background-color: #f2f1ea;
    padding: 1%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.whatwedo_section h2 {
    font-size: 260%;
    font-weight: 800;
    color: #12813a;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

.recycling, .gardening, .volunteering {
    flex: 1 1 30%; 
    padding: 1%;
    box-sizing: border-box;
}

.recycling h3, .gardening h3, .volunteering h3 {
    color: #0e622c;
    font-size: 156%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button_recycling, .button_gardening, .button_volunteering {
    color: #12813a;
    text-decoration: none;
    font-size: 125%;
}

.button_recycling:hover, .button_gardening:hover, .button_volunteering:hover {
    color: #0e622c;
}

.recycling img, .gardening img, .volunteering img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1000px) {
    .whatwedo_section h2 {
        font-size: 300%; 
    }

    .recycling h3, .gardening h3, .volunteering h3 {
        font-size: 140%; 
        margin-top: 30px;
        max-width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .recycling p, .gardening p, .volunteering p {
        max-width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
        font-size: 100%;
        margin-top: 10px; 
        margin-bottom: 10px; 
    }

    .recycling img, .gardening img, .volunteering img {
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
        display: block; 
        margin-top: 10px;
        margin-bottom: 10px; 
    }

    .button_recycling, .button_gardening, .button_volunteering {
        font-size: 110%; 
        margin-top: 10px; 
        margin-bottom: 10px; 
        display: block; 
        max-width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .recycling, .gardening, .volunteering {
        flex: 1 1 100%; 
        box-sizing: border-box; 
        margin-bottom: 20px; 
        padding: 0.5%; 
    }
}

.recycling p{
    margin-bottom: 4%;
}

.gardening p{
    margin-bottom: 4%;
}

.volunteering p{
    margin-bottom: 4%;
}

.statistics_section {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
    width: 100%;
    height: auto; 
    padding: 20px; 
    background-image: url("statisticsbackground.avif");
    background-size: contain; 
    background-attachment: fixed; 
    background-position: center; 
}

.cups, .events, .members {
    text-align: center; 
    flex: 1; 
    min-width: 200px; 
    margin: 20px; 
}

.cups h2, .events h2, .members h2 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 140px;
    margin: 5px; 
}

.cups h3, .events h3, .members h3 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 50px;
    margin: 5px 0; 
    margin-bottom: 40px;
}


@media (max-width: 1000px) {
    .cups h2, .events h2, .members h2 {
        font-size: 100px; 
    }

    .cups h3, .events h3, .members h3 {
        font-size: 40px; 
    }
}

.events_section {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.events_section h2 {
    font-size: 260%;
    font-weight: 800;
    color: #12813a;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

.chowderbay, .schoolconference, .tarongazoo {
    flex: 1 1 30%;
    padding: 1%;
    box-sizing: border-box;
}

.chowderbay h3, .schoolconference h3, .tarongazoo h3 {
    color: #0e622c;
    font-size: 156%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button_chowderbay, .button_schoolconference, .button_tarongazoo {
    color: #12813a;
    text-decoration: none;
    font-size: 125%;
}

.button_chowderbay:hover, .button_schoolconference:hover, .button_tarongazoo:hover {
    color: #0e622c;
}

.chowderbay img, .schoolconference img, .tarongazoo img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1000px) {
    .events_section h2 {
        font-size: 300%;
    }

    .chowderbay h3, .schoolconference h3, .tarongazoo h3 {
        font-size: 140%;
        margin-top: 30px;
        max-width: 80%;
        margin-left: auto; 
        margin-right: auto; 
    }

    .chowderbay p, .schoolconference p, .tarongazoo p {
        max-width: 80%;
        margin-left: auto; 
        margin-right: auto; 
        font-size: 100%;
        margin-top: 10px; 
        margin-bottom: 10px; 
    }

    .chowderbay img, .schoolconference img, .tarongazoo img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block; 
        margin-top: 10px;
        margin-bottom: 10px; 
    }

    .button_chowderbay, .button_schoolconference, .button_tarongazoo {
        font-size: 110%; 
        margin-top: 10px; 
        margin-bottom: 10px; 
        display: block; 
        max-width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .chowderbay, .schoolconference, .tarongazoo {
        flex: 1 1 100%; 
        box-sizing: border-box; 
        margin-bottom: 20px; 
        padding: 0.5%; 
    }
}

.chowderbay p, .schoolconference p, .tarongazoo p {
    margin-bottom: 4%; 
}


.join{
    float: left;
    clear: both;
    width: 100%;
    height: 400px;
    padding: 50px;
    background-color: #f2f1ea;

}

.text{
    float: left;
    width: 50%;
}

.text h2{
    color:#0e622c;
    font-weight: 600;
    font-size: 80px;
    padding-bottom: 30px;
}

.text h3{
    color:#12813a;
    font-weight: 600;
    padding-bottom: 40px;
    font-size: 40px;
}

.button_join{
    color: white;
    font-size: 30px;
    background-color:#12813a;
    text-decoration: none;
    padding: 6px 20px 6px 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.button_join:hover{
    color: white;
    background-color: #0e622c;
}

.join_image{
    float: right;
    width: 450px;
    transform: scale(1.2); 
}

.environment_club{
    float: left;
    width: 20%;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.environment_club h3{
    color:#0e622c;
    font-weight: 600;
    font-size: 30px;
    width: 33px;
}

.environment_club p{
    width: 180px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.button_footer_logo{
    color: white;
    font-size: 20px;
    background-color:#12813a;
    text-decoration: none;
    padding: 6px 20px 6px 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.button_footer_logo:hover{
    color: white;
    background-color: #0e622c;
}
.footerlogo{
    width: 150px;
}

.Whatwedo_footer{
    padding-top: 30px;
    float: left;
    width: 25%;
    padding-left: 50px;
}

.Whatwedo_footer h3{
    font-size: 30px;
    font-weight: 600;
    color:#0e622c;
    padding-bottom: 20px;
}

.whatwedo_footer_links {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.events_footer{
    padding-top: 30px;
    float: left;
    width: 25%;
    padding-left: 70px;
}

.events_footer h3{
    font-size: 30px;
    font-weight: 600;
    color:#0e622c;
    padding-bottom: 20px;
}
.events_footer_links {
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.contact_footer{
    float: left;
    width: 25%;
    padding-left: 80px;
    padding-top: 30px;
}

.contact_footer h3{
    font-size: 30px;
    font-weight: 600;
    color:#0e622c;
    padding-bottom: 20px;
}

.contact_footer p{
    font-size: 20px;
}

.madeby{
    font-size: 25px;
    font-weight: 600;
    color:#0e622c;
}
